In [7]:
from collections import Counter
import pandas
documents = {
    'l1': "it was the best of times",
    'l2': "it was the worst of times",
    'l3': "it was the age of wisdom",
    'l4': "it was the age of foolishness"
}

all_words = ' '.join([documents[key] for key in documents.keys()])
documents['all'] = all_words

In [8]:
counts = {}
for k,v in documents.iteritems():
    count = Counter()
    for word in v.split():
        count[word] += 1
    counts[k] = count
keys = list(set(w for w in all_words.split()))

In [17]:
l1_multi_hot = [1 if w in documents['l1'] else 0 for w in keys]
l2_multi_hot = [1 if w in documents['l2'] else 0 for w in keys]
l3_multi_hot = [1 if w in documents['l3'] else 0 for w in keys]
l4_multi_hot = [1 if w in documents['l4'] else 0 for w in keys]
all_multi_hot = [1 if w in documents['all'] else 0 for w in keys]

In [18]:
X = [l1_multi_hot, l2_multi_hot, l3_multi_hot, l4_multi_hot, all_multi_hot]

In [19]:
df = pandas.DataFrame(X, columns=list(keys))

In [20]:
df.T.rename(columns={0:'l1',1:'l2',2:'l3',3:'l4',4:'all'})

             l1  l2  l3  l4  all
of            1   1   1   1    1
age           0   0   1   1    1
it            1   1   1   1    1
foolishness   0   0   0   1    1
times         1   1   0   0    1
worst         0   1   0   0    1
the           1   1   1   1    1
wisdom        0   0   1   0    1
was           1   1   1   1    1
best          1   0   0   0    1